@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Yaldevi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 5.625rem;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}

#banner {
    background-image: url('../img/banner.jpg');
    height: calc(100vh - 50px);
    background-size: cover;
    background-attachment: fixed;
}

.films img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.75;
    transition: all .3s ease-in-out;
}

.image-container {
    height: 21.875rem;
    width: 100%;
    border: 4px solid;
    border-image: linear-gradient(135deg, #FF0000 0%, #080808 100%) 1;
    overflow: hidden;
}

.films img:hover {
    transform: scale(1.1);
    opacity: 1;
}

#confetti-canvas {
    width: 100% !important;
    position: absolute !important;
    top: 0 !important;
}

.brinde {
    animation: blinker 1s linear infinite;
    background-color: #0b5cbc;
    border-radius: 8px;
    color: white !important;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}